<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xll-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                    <img  src="https://liveapps.nestdigital.com/intranest/assets/images/slider_new_2/banner_light.png" class="img-fluid" alt="...">
                     <figure class="text-center">
                <blockquote class="blockquote">
                  <p>NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.</p>
                </blockquote>
               
              </figure>
              



        </div>
    </div>
</div>
    </div>
</div>