<app-nav-bar></app-nav-bar>
<div class="bg-image" style="background-image: url('https://t4.ftcdn.net/jpg/02/00/68/69/360_F_200686968_KS9NVTJgvjMQs2FniVHyIJaAIcg5p7D0.jpg'); height: 100vh; width: 100vw;">   
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1 class="text-light">Employee Login</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <label for="" class="form-label text-light">Employee ID</label>
                    <input name="empid" [(ngModel)]="empid" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label text-light">Password</label>
                    <input name="password" [(ngModel)]="password" type="password"  id="" class="form-control">
                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="employeeLog()"  class="btn btn-success" >Login </button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                    <a routerLink="/employeeregister">Employee  Registration</a>
                </div>
            </div>
        </div>
    </div>
</div>

               