<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xll-12 text-center">


            <img  src="http://www.nrdcindia.com/uploads/images/1568886999Conatct2.jpg" class="img-fluid" alt="...">
            <p class="h1">FOR BUSINESS RELATED ENQUIRIES</p>
            <p class="h1">Nest Digital Corporation
            <p class="h1">Plot No. 2, Cochin Special Economic Zone (CSEZ), Kakkanad, Cochin – 682 037, India </p>
            <p class="h1">General E-mail :Email: sales.nestdigital@nestgroup.net  </p>
            <p class="h1">Ph: +91-484-6701000, +91484-4203333</p>
            <p class="h1">Office Timings:  Monday to Friday (8.30 AM to 5:30 PM)</p>
            
        </div>
    </div>
</div>